
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #74ebd5, #acb6e5); 
    padding: 20px;
    margin: 0;
}


.container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 30px;
    border-radius: 15px; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); 
    width: 80%;
    max-width: 1000px;
    margin: 20px auto; 
}


h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


#labels {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: space-around;
    margin-bottom: 40px;
}

.label {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: bold;
    color: #444;
    width: 45%; 
    text-align: center;
}


#charts canvas {
    width: 100%;
    height: 300px;
    margin-top: 20px;
}

/* Contenedor de mute-button */
#mute-button-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espacio por encima para evitar que se superponga */
}

/* Botón de mute */
#mute-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#mute-button:hover {
    background-color: #00796b;
}

/* Contenedor del corazón */
#heart-container {
    position: relative;
    width: 200px;
    height: 150px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Corazón */
#heart {
    position: relative;
    width: 120px; /* Tamaño reducido del corazón */
    height: 120px; /* Tamaño reducido del corazón */
    background-color: red;
    transform: rotate(45deg); /* Rota el corazón 45 grados */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

/* Crear la forma del corazón utilizando pseudo-elementos */
#heart::before, #heart::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: red;
    border-radius: 50%; /* Crear círculos */
}

#heart::before {
    top: -60px; /* Posicionar el círculo superior izquierdo */
    left: 0;
}

#heart::after {
    top: 0px; /* Posicionar el círculo superior derecho */
    left: -60px;
}

/* Animación de latido */
@keyframes heartbeat {
    0%, 100% {
        transform: scale(1) rotate(45deg); /* Corazón en su tamaño normal */
    }
    50% {
        transform: scale(1.2) rotate(45deg); /* Corazón se expande para el latido */
    }
}

#heart {
    animation: heartbeat 1s infinite; /* Aplicar animación al corazón */
}
